@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  position: fixed;
  height: 100%;
  width: 100%;
  /* min-width: 0;
  min-height: 0; */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}